{% extends "indexbase.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<br/>
<br/>
<br/>
<h1
    style="  text-align:center;

background: rgb(19, 147, 134);
background: linear-gradient(90deg, rgb(133, 164, 74) 0%, rgb(111, 12, 218) 50%, rgb(213, 11, 85) 100%);
color: white;
    "
    >HOME PAGE</h1>
    <h1
   
   font-size: 14px;
 margin-top: 420px;
 height: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align:center;
  bottom: 0;
  color: white;
   "
   >

   </h1>
{% endblock %}